@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/* style.css */
body{
  background-color: #000000;
  /*font-family: Grotesk; */
  front-family: Hanken; 

}

/* Estilos del header*/
header { 
  display: flex;
  color: #fff;
  padding: 20px;
}

.logo img {
  width: 100%;
}

/* Estilos para el video en el main */
main {
  display: flex;
  padding: 20px;
  justify-content: center;

}

video {
  display: flex;
  width: 78%;
}

/* Estilos para el footer */
footer {
  display: flex;
  color: #fff;
  padding: 10px;
  /* padding-left: 10%;*/
}

/* Links */
a{
  color: #ffffff;
} 

/* Listas */
ul{
  list-style-type: none; 
}

li{
  padding: 5px;
}